* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container, .nav-links, .cart {
  display: flex;
}

.logo-container {
  flex: 1;
}

.logo {
  font-weight: 400;
  margin-left: 1em;
}

nav {
  flex: 2;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #5f5f79;
}

.cart {
  flex: 1;
  justify-content: flex-end;
}

.presentation {
  display: flex;
  width: 90%;
  height: 80vh;
  margin: auto;
  align-items: center;
}

.introduction {
  flex: 1;
}

.intro-text h1 {
  font-weight: 500;
  font-size: 2.6rem;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  color: #6f6f89;
  font-size: 1.1em;
  margin-top: 5px;
}

.cta {
  padding-top: 50px;
}

.cta-select {
  border: 2px solid #c36cbb;
  padding: .5em 2.3em;
  background: none;
  cursor: pointer;
  color: #c36cbb;
  margin-right: 1em;
  font-size: 16px;

}
.cta-add {
  border: none;
  padding: .9em 2.3em;
  background: #c36cbb;
  cursor: pointer;
  color: #fff;
}

.cover {
  flex: 1;
  height: 60vh;
  justify-content: center;
}

.cover img {
  height: 100%;
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 1.5s ease;
}
.big-circle {
  position: absolute;
  top: 0;
  right: 0;
  opacity: .4;
  height: 80%;
  z-index: -1;
}
.medium-circle {
  position: absolute;
  top: 30%;
  right: 30%;
  opacity: .3;
  height: 70%;
  z-index: -1;
}
.small-circle {
  position: absolute;
  bottom: 0;
  left: 10%;
  opacity: .4;
  height: 50%;
  z-index: -3;
}
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
transform: translateY(0);
  }
}
@media screen and (max-width: 655px) {
  .presentation {
    flex-direction: column;
    align-items: center;
  }
  .introduction {
    text-align: center;
  }
  .intro-text h1 {
    font-size: 1.6em;
padding-top: 2em;
  }
  .intro-text p {
    font-size: 1em;
    padding-top: .6em;
  }
.cover img {
  height: 80%;
  padding-top: 2em;
}
.big-circle, .medium-circle, .small-circle {
  opacity: .2;
}
}
